.header {
  background-color: white;
  box-shadow: 0 1px 10px rgba(133, 133, 133, 0.2);
  height: 80px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
  background: transparent url("/images/icon-hamburger.svg") no-repeat center
    center;
  border: none;
  display: none;
  height: 1rem;
  outline: none;
  width: 2.25rem;
}

.hamburger.active {
  background-image: url("/images/icon-close.svg");
}
