.heroBg {
  /* background diatur via style inline React */
  height: 656px;
  position: relative;
  padding-left: 164px;
  width: 100%;
  overflow: hidden;
}

.hero {
  position: absolute;
  right: -133px;
  top: -118px;
}
