html {
  font-size: 62.5%;
  font-family: "Public Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /*Primary colors*/
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  /*Neutral colors*/
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  /*Font sizes*/
  --extra-large: 6rem;
  --large: 5rem;
  --medium: 3.6rem;
  --regular: 2.6rem;
  --normal: 2rem;
  --small: 1.4rem;
  --very-small: 1.2rem;
  --extra-small: 1rem;
}

body {
  min-height: 100dvh;
}

/*Header*/

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 2rem 2rem; */
  background-color: var(--White);
  z-index: 2;
}

.logo {
  cursor: pointer;
  padding: 2rem;
}

.ham-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2.5rem;
  height: 2rem;
  cursor: pointer;
}

.ham-menu--bar {
  width: 100%;
  height: 0.1rem;
  background-color: var(--Dark-Blue);
  transition: 0.5s;
}

.change .bar-1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: translate(0, -5px) rotate(45deg);
}

.nav-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-links_show {
  position: absolute;
  top: 70px;
  left: 50%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 20px;
  padding: 15px;
  border-radius: 4px;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.nav-header--nav-links li {
  font-size: clamp(1.4rem, 4vw, var(--small));
}
.nav-header--nav-links li a {
  color: var(--Dark-Blue);
}

.header-button-container {
  padding: 2rem;
}

.header-button {
  display: none;
}

.backdrop_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: block;
}

/*Main*/

.next-generation-banking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

.next-generation-banking--mockups-image {
  width: 100%;
  height: 100%;
  margin-top: -116px;
  z-index: -1;
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.next-generation-banking--mockups-image-container {
  width: 100%;
  padding: 10px;
}

.next-generation-banking--mockups-image-container img {
  width: 100%;
  height: 100%;
}

.next-generation-banking--section-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.next-generation-banking--section-description h1 {
  font-size: clamp(3.2rem, 9vw, var(--large));
  font-weight: 400;
  color: var(--Dark-Blue);
}

.next-generation-banking--section-description p {
  max-width: 450px;
  font-size: clamp(1.4rem, 4vw, var(--small));
  line-height: 24px;
  color: var(--Grayish-Blue);
  margin-top: 1rem;
}

.section-description--request-button {
  margin-top: 2rem;
}

.why-choose-easybank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 10px 50px;
  background-color: var(--Light-Grayish-Blue);
}

.why-choose-easybank h2 {
  font-size: clamp(2.8rem, 8vw, var(--medium));
  font-weight: 400;
  color: var(--Dark-Blue);
}

.why-choose-easybank--paragraph {
  max-width: 420px;
  font-size: clamp(1.4rem, 4vw, var(--small));
  line-height: 24px;
  color: var(--Grayish-Blue);
  margin-top: 1rem;
  padding: 0px 20px;
}

.why-choose-easybank--benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
  margin-top: 4rem;
}

.benefits-list--easybanks-benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  min-height: 210px;
  margin: 10px;
}

.benefits-list--easybanks-benefits h3 {
  font-size: clamp(2rem, 5vw, var(--regular));
  font-weight: 400;
  color: var(--Dark-Blue);
}

.benefits-list--easybanks-benefits p {
  font-size: clamp(1.4rem, 4vw, var(--small));
  line-height: 24px;
  color: var(--Grayish-Blue);
}

/*Latest Articles*/

.latest-articles {
  text-align: center;
  padding: 80px 20px 50px;
  background-color: var(--Very-Light-Gray);
}

.latest-articles h2 {
  font-size: clamp(2.8rem, 8vw, var(--medium));
  font-weight: 400;
  color: var(--Dark-Blue);
}

.latest-articles--cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  margin-top: 2rem;
  gap: 30px;
}

.cards-container--card {
  width: 100%;
  max-width: 375px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(238, 238, 238);
}

.cards-container--card img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.card--image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 0px 25px 20px 25px;
}

.description-container--article-author {
  font-size: clamp(1rem, 3vw, var(--very-small));
  color: var(--Grayish-Blue);
}

.description-container--article-title {
  font-size: clamp(1.6rem, 4vw, var(--normal));
  font-weight: 300;
  text-align: left;
  color: var(--Dark-Blue);
}

.description-container--brief-description {
  font-size: clamp(1.2rem, 4vw, var(--small));
  text-align: left;
  line-height: 15px;
  color: var(--Grayish-Blue);
}

/*Footer*/

footer {
  min-height: 420px;
  padding: 20px;
  background-color: var(--Dark-Blue);
}

.footer-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: inherit;
}

.footer-container--logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.logo-social-media--social-media-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-footer--nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-links--column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.nav-footer--nav-links li {
  font-size: clamp(1.4rem, 4vw, var(--small));
  color: var(--White);
}

.nav-footer--nav-links li a {
  color: var(--White);
}

.footer-container--request-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.request-invite--footer-button {
  padding: 1.4rem 3rem;
}

.footer-container--request-invite p {
  font-size: clamp(1.4rem, 4vw, var(--small));
  color: var(--Grayish-Blue);
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scroll-to-top:hover {
  opacity: 0.7;
}

.scroll-to-top-image {
  width: 100%;
}

/*Generic classes*/

.generic-button {
  padding: 1.4rem 3rem;
  font-size: clamp(1.4rem, 4vw, var(--small));
  font-weight: 700;
  color: var(--White);
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.generic-button:hover {
  opacity: 0.5;
}

.svg-icon:hover .svg-icon-path {
  fill: var(--Lime-Green);
}

/*Utility classes*/

.inactive {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.remove {
  display: none;
}

.show {
  display: block;
}
